.custom-navbar {
  background: #3ca13a;
background: #000000;
} 

.dashboard-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/tellecaller.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 91vh; /* Full viewport height */
  width: 100%; /* Full width */
  display: flex; /* Optional: for centering inner content */
  justify-content: center;
  align-items: center;
  
}


.black-button {
  background-color: black;
  color: white !important;
  padding: 8px 20px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  border: none;
}

.black-button:hover {
  background-color: #333;
  color: white;
}